.prompting-screen-container {
    width: 95%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;


    .prompting-header-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .header-text {
            font-size: 4rem;
            font-weight: 500;
        }
    }
}