.main-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    height: 100%;

    .header-text {
        font-size: 5rem;
        font-weight: 600;
    }

    .header2-text {
        font-size: 2.5rem;
    }

    .subheader-text {
        font-size: 1.25rem;
    }

    .main-screen-header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .main-screen-subheader-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .main-screen-body-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}