body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0rem;
}

.core-home-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.typewriter {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .05em;
    animation:
        typing 1.5s steps(40, end),
        blink-caret 1.75s step-end infinite;
}

.typewriter-text {
    overflow: hidden;
    white-space: nowrap;
    animation:
        typing 0.15s steps(40, end),
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(0, 0, 0);
    }
}